## Visual Studio / C# ##
bin/
obj/
*.user
*.suo
*.svclog
*.vs/
*.pdb
*.cache
*.log
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
packages/
packages.config
*.xls
Client/bin/
Client/obj/

# Entity Framework
Migrations/  # you might want this under source control; if so remove this line
*.db

# ASP.NET Core
appsettings.Development.json
appsettings.Secret.json
wwwroot/uploads/
.env

# dotnet watch
.dotnetwatch/

## Node / Angular ##

# Compiled output
**/dist/
**/tmp/
**/out-tsc/
**/bazel-out/

# Node
**/node_modules/
npm-debug.log
yarn-error.log

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Miscellaneous
**/.angular/cache
.sass-cache/
**/connect.lock
**/coverage/
/libpeerconnection.log
testem.log
**/typings/
__screenshots__/

# System files
.DS_Store
Thumbs.db

